.contact {
    .content__wrapper {
        display: flex;
        justify-content: center;


        .contact-form{
            padding-right: 35px;

            form {
                .inputs {
                    display: flex;
                    flex-direction: column;
                    align-items: baseline;

                    .wrapper-inputs {
                        display: flex;
                        flex-direction: column;
                        width: 700px;
                        margin-bottom: 25px;

                        label {
                            text-align: left;
                            color: #919191;
                            font-size: 16px; 
                            padding-bottom: 2px;
                        }
                        
                        .input-item {
                            border: 1px solid #919191;
                            border-radius: 3px;
                            width: 395px;
                            height: 40px;
                            padding: 5px;
                        }

                        textarea {
                            width: 100%;
                            height: 150px;
                            resize: none;
                            border: 1px solid #919191;
                            border-radius: 3px;
                        }
                    }

                    .button-send {
                        display: flex;
                        .submit {
                            display: inline-block;
                            margin-right: 15px;
                            border: 1px solid #06509d;
                            border-radius: 20px;
                            font-size: 14px;
                            line-height: 17px;
                            text-transform: uppercase;
                            color: #06509d;
                            letter-spacing: 1px;
                            padding: 9px 58px;
                            transition: all 0.3s;
                            background: white;
                            cursor: pointer;
                            &:hover{
                                background-color: #06509d;
                                color: white;
                                transition: all 0.3s;
                            }
                            &:active {
                                background-color: #1e8bff;
                                transition: all 0.3s;
    
                            }
                        }  

                        svg {
                            height: 35px;
                            width: 35px;
                            
                        }
                    }   
                     
                }
            }

            .entry-message {
                margin-top: 10px;
                .response {
                    font-size: 18px;
                    color: #919191;
                }
            }

            .border {
                height: 1px;
                width: 100%;
                background-color: #919191;
                margin-top: 10px;
            }

        }
    }
}