body {
    margin: 0;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
      'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
      sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
  }
  
  code {
    font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
      monospace;
  }
  
  
  .container {
      width: 80%;
      margin: 0 auto;
  }
  
  .title {
      font-size: 28px;
      padding: 0 20px;
      font-weight: 400;
      color: black;
      z-index: 1;
      position: relative;
  }
  
  
  .post__item-category {
      background-color: green;
      position: absolute;
      display: block;
      height: 33px;
      width: 74px;
      border-radius: 5px;
      top: 10px;
      left: 10px;
      display: flex;
      justify-content: center;
      align-items:center;
  }
  
  .post__item-category .category-holder {
      color: white;
      text-decoration: none;
      font-size: 12px;
      line-height: 15px;
  }
  
  
  .entry-header {
      .entry-data{
          text-align: left;
          margin-bottom: 10px;
  
          a {
              font-size: 13px;
              color: rgb(102, 102, 102);
              text-decoration: none;
  
          }
      }
  
      .entry-title {
          text-align: left;
  
          a {
              font-size: 20px;
              color: #333333;
              margin-bottom: 5px;
              font-weight: 500;
              text-decoration: none;
          }
          
      }
  }
  
  .entry-content {
      text-align: left;
      p {
          font-size: 16px;
          color: rgb(145, 145, 145);
      }
  }
   
  
  .background {
      background-color: rgb(145, 145, 145, 0.3);
      padding-bottom: 30px;
  };
  
  

  // general


  
